<div align="center" class="div-content">
    <div>Failed to create company using system user</div>
    <div style="padding-bottom: 20px;"><a href="@Url.Action("Index", "Home")">Home</a></div>
</div>

