<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="SuperOffice">
      <sectionGroup name="Factory">
        <section name="CustomFactories" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <section name="DynamicLoad" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </sectionGroup>
      <sectionGroup name="Security">
        <section name="Cryptography" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <section name="Sentry" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </sectionGroup>
      <sectionGroup name="FeatureToggles">
        <section name="State" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </sectionGroup>
      <sectionGroup name="Data">
        <section name="Session" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <section name="Database" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <section name="ImplicitAnonymous" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <section name="Explicit" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </sectionGroup>
      <section name="Threading" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="Diagnostics" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="Globalization" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="Services" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="Documents" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="PartnerDatabase" providerName="System.Data.SqlClient" connectionString="Data Source=NORSQLCOM2;Initial Catalog=SuperOffice.Online.PartnerDatabase;Integrated Security=False;User Id=onlineuser4321;Password=superoffice1234;MultipleActiveResultSets=True;" />
  </connectionStrings>
  <appSettings>
    <!--Federated Authentication Gateway-->
    <add key="SoFederationGateway" value="https://sod.superoffice.com/login/" />
    <!--Not used in this example...but is the same as SuperOffice.DevNet.Online.SystemUser.Mvc -->
    <add key="SoAppId" value="35044df26c0490e61dee93228feea426" />
    <!--This MUST be the private key matching the ApplicationToken app -->
    <add key="SystemTokenCertificatePath" value="certificates\partnerprivatekey.xml" />
    <!--Comes from the SuperOfficeFederatedLogin.crt file, used by SuperIdTokenHandler for SAML validation-->
    <!--SOD-->
    <add key="SuperIdCertificate" value="16b7fb8c3f9ab06885a800c64e64c97c4ab5e98c" />
    <!--Stage-->
    <!--<add key="SuperIdCertificate" value="‎484903a7732b928c7980a39d38e947ea119f1089" />-->

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20622.1351" newVersion="4.0.20622.1351" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SuperOffice.Services.WcfService" publicKeyToken="bdda2d694ae22a86" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.1000.0" newVersion="8.0.1000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SuperOffice.Services.Wcf" publicKeyToken="bdda2d694ae22a86" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.1000.0" newVersion="8.0.1000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SuperOffice.Services.Versioned" publicKeyToken="bdda2d694ae22a86" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.1000.0" newVersion="8.0.1000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SOCore" publicKeyToken="bdda2d694ae22a86" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.1000.0" newVersion="8.0.1000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SuperOffice.Services.Versioned.Contract" publicKeyToken="bdda2d694ae22a86" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.1000.0" newVersion="8.0.1000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SuperOffice.Services" publicKeyToken="bdda2d694ae22a86" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.1000.0" newVersion="8.0.1000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SuperOffice.Services.Implementation" publicKeyToken="bdda2d694ae22a86" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.1000.0" newVersion="8.0.1000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SoDataBase" publicKeyToken="bdda2d694ae22a86" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.1000.0" newVersion="8.0.1000.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <SuperOffice>
    <Data>
      <Session>
        <!-- Thread means that session information is stored in the Thread context -->
        <add key="Mode" value="Thread" />
      </Session>
    </Data>
    <Services>
      <!-- Mode can be Local, Remote, Switch; local for web + appserver on same machine, remote otherwise -->
      <add key="DefaultMode" value="Remote" />
      <!--This MUST be set to the application users have authorized-->
      <!--In this example, that is the SupreOffice.DevNet.Online.SystemUser.Mvc application -->
      <add key="ApplicationToken" value="f1798a3a7cbc3759d4b220e9a9c99301" />
    </Services>
  </SuperOffice>
</configuration>