<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="SuperOffice">
      <sectionGroup name="Factory">
        <section name="CustomFactories" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <section name="DynamicLoad" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </sectionGroup>
      <sectionGroup name="Security">
        <section name="Cryptography" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <section name="Sentry" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </sectionGroup>
      <sectionGroup name="FeatureToggles">
        <section name="State" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </sectionGroup>
      <sectionGroup name="Data">
        <section name="Session" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <section name="Database" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <section name="ImplicitAnonymous" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <section name="Explicit" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </sectionGroup>
      <section name="Threading" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="Diagnostics" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="Globalization" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="Services" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="Documents" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="PartnerDatabase" providerName="System.Data.SqlClient" connectionString="Data Source=NORSQLCOM2;Initial Catalog=SuperOffice.Online.PartnerDatabase;Integrated Security=False;User Id=onlineuser4321;Password=superoffice1234;MultipleActiveResultSets=True;" />
  </connectionStrings>
  <appSettings>
    <!--Federated Authentication Gateway-->
    <!--Not used in this example...but is the same as SuperOffice.DevNet.Online.SystemUser.Mvc -->
    <!--This MUST be the private key matching the ApplicationToken app -->
    <add key="SystemTokenCertificatePath" value="certificates\partnerprivatekey.xml" />
    <!--Comes from the SuperOfficeFederatedLogin.crt file, used by SuperIdTokenHandler for SAML validation-->
    <!--SOD-->
    <!--Stage-->
    <!--<add key="SuperIdCertificate" value="‎484903a7732b928c7980a39d38e947ea119f1089" />-->
    <add key="SoAppId" value="35044df26c0490e61dee93228feea426" />
    <add key="SoFederationGateway" value="https://sod.superoffice.com/login/" />
    <add key="SuperIdCertificate" value="16b7fb8c3f9ab06885a800c64e64c97c4ab5e98c" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.20622.1351" newVersion="4.0.20622.1351" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SuperOffice.Services.WcfService" publicKeyToken="bdda2d694ae22a86" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.1000.0" newVersion="8.0.1000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SuperOffice.Services.Wcf" publicKeyToken="bdda2d694ae22a86" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.1000.0" newVersion="8.0.1000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SuperOffice.Services.Versioned" publicKeyToken="bdda2d694ae22a86" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.1000.0" newVersion="8.0.1000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SOCore" publicKeyToken="bdda2d694ae22a86" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.1000.0" newVersion="8.0.1000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SuperOffice.Services.Versioned.Contract" publicKeyToken="bdda2d694ae22a86" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.1000.0" newVersion="8.0.1000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SuperOffice.Services" publicKeyToken="bdda2d694ae22a86" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.1000.0" newVersion="8.0.1000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SuperOffice.Services.Implementation" publicKeyToken="bdda2d694ae22a86" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.1000.0" newVersion="8.0.1000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SoDataBase" publicKeyToken="bdda2d694ae22a86" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.1000.0" newVersion="8.0.1000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.1" newVersion="4.0.3.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <SuperOffice>
    <Data>
      <Session>
        <!-- HttpContext means that session information is stored in the Http context, instead of being recreated all the time -->
        <add key="Mode" value="Process" />
        <add key="ReauthenticateOnDeserialization" value="false" />
      </Session>
      <Database>
        <add key="DatabaseMajor" value="MSSQL" />
        <add key="DatabaseMinor" value="10" />
        <add key="Server" value="" />
        <add key="Database" value="" />
        <add key="CommandTimeOut" value="300" />
        <add key="TablePrefix" value="CRM7" />
        <add key="ConnectionString" value="Server=[@Server];Database=[@Database];User ID=[@User];Password=[@Password]" />
      </Database>
      <ImplicitAnonymous>
        <add key="Allowed" value="False" />
        <add key="DBUser" value="" />
        <add key="DBPassword" value="" />
        <add key="CommonDBConnection" value="True" />
        <add key="SoUser" value="" />
        <add key="SoPassword" value="" />
      </ImplicitAnonymous>
      <Explicit>
        <add key="ExternalPersonAllowed" value="False" />
        <add key="EmployeeAllowed" value="True" />
        <add key="SystemAllowed" value="True" />
        <add key="DBUser" value="" />
        <add key="DBPassword" value="" />
        <add key="CommonDBConnection" value="True" />
      </Explicit>
    </Data>
    <Documents>
      <!-- Location of SO_ARC -->
      <add key="ArchivePath" value="c:\so_arc" />
      <!-- Location of template folder.
		            This folder only needs to be specified when it is other than default. -->
      <!--<add key="TemplatePath" value="\\\\qa-build\\StateZeroSoArc\\Template" />-->
      <!-- Location of temporary folder for streaming files.  
		            This path must resolve to the same location for farms/culsters. -->
      <add key="TemporaryPath" value="c:\\temp" />
      <!-- Impersonate user when accessing the document archive or the temporary folder  -->
      <add key="ImpersonateUser" value="false" />
      <!-- Name of the user to impersonate with -->
      <add key="ArchiveUser" value="" />
      <!-- Password of the user to impersonate with -->
      <add key="ArchivePassword" value="" />
      <!-- Domain of the user to impersonate with -->
      <add key="ArchiveDomain" value="" />
      <!-- Size of internal buffer in KB -->
      <add key="BufferSize" value="1024" />
    </Documents>
    <Factory>
      <DynamicLoad>
        <!--Required to support RemoteMode Only-->
        <add key="RequiredProxy" value="SuperOffice.Services.WcfProxy.dll" />
      </DynamicLoad>
    </Factory>
    <Services>
      <!-- Mode can be Local, Remote, Switch -->
      <add key="DefaultMode" value="Remote" />
      <!-- Default mode for the switch.  Can be Local or Remote -->
      <add key="SwitchDefault" value="Remote" />
      <!-- Timeout before failover in seconds -->
      <add key="SwitchFailover" value="60" />
      <!-- Base URL for remote services -->
      <add key="RemoteBaseURL" value="http://localhost/SuperOfficeServices/remote/services80" />
      <!-- only support 8.0 proxies in this release -->
      <add key="ApplicationToken" value="f1798a3a7cbc3759d4b220e9a9c99301" />
    </Services>
  </SuperOffice>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="SoWcfClient">
          <!--Uncomment the security element if your application will use windows authentication, example: -->
          <!--using(var session = SuperOffice.SoSession.Authenticate()) 
          {
            ...
          }
        -->
          <!--<security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" proxyCredentialType="Windows" />
          </security>-->
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>