<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="SuperOffice.Crm.Online.Core" version="3.0.5877.115" targetFramework="net451" />
  <package id="SuperOffice.NetServer.Core" version="8.0.5893.1015" targetFramework="net451" />
  <package id="SuperOffice.NetServer.Services" version="8.0.5893.1015" targetFramework="net451" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.2.202250711" targetFramework="net451" />
</packages>