<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\DevNet\DevNet.Online.Login\packages.config" />
  <repository path="..\DevNet\DevNet.Online.Provisioning\packages.config" />
  <repository path="..\DevNet\DevNet.Online.SystemUser.Mvc\packages.config" />
  <repository path="..\DevNet\DevNet.Online.SystemUser.PartnerDBLibrary\packages.config" />
  <repository path="..\DevNet\DevNet.Online.SystemUser.ServiceConsole\packages.config" />
</repositories>